@import url(hullcss.css);

body {
   background: #202020;
   user-select: none;
}

.container {
   height: 100%;
   width: 100%;
   text-align: center;
}

button {
   width: 70px;
   height: 40px;
   font-size: 30px;
}

p {
   color: #fff;
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   padding: 30px;
}

.shop {
   margin-top: 30px;
   display: flex;
   justify-content: center;
}

.p-1 {
   font-size: 20px;
}

.shopTitle {
   display: block;
   margin-top: 40px;
   font-size: 30px;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
}

.bal {
   display: flex;
   justify-content: center;
   align-items: center;
}

#busterMoney {
   color: rgb(246, 235, 20);
   font-weight: 700;
   font-size: 25px;
}

#busterClick {
   color: red;
   font-weight: 700;
   font-size: 25px;
}

.shopClick {
   margin-top: 30px;
   display: flex;
   justify-content: center;
}